In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Defining path
path = r'/Users/CK/Downloads/CF/Instacart Basket Analysis'

In [5]:
# Importing ords_prods_merge
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data' , 'Prepared Data', 'ords_prods_merge.pkl'))

In [6]:
# Creating a subset
df = ords_prods_merge[:1000000]

In [7]:
# Checking the subset
df.shape

(1000000, 14)

In [29]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range,price_range_loc
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Mid-range product

In [8]:
# Creating price_label definition

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [9]:
# Apply the function to the dataframe
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/gc/2p45966n07l89n0z72465jy80000gn/T/ipykernel_19460/909447879.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [10]:
# Obtaining the value counts
df['price_range'].value_counts()

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [11]:
# checking the max price in the dataframe
df['prices'].max()

14.8

In [12]:
Using loc on subset
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product' 
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

/var/folders/gc/2p45966n07l89n0z72465jy80000gn/T/ipykernel_19460/3192052085.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [14]:
df['price_range_loc'].value_counts()

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [ ]:
## Using loc on the entire dataframe

In [16]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [17]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [18]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [24]:
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [19]:
#Create a result list to define the busiest days

result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [22]:
ords_prods_merge['busiest_day'] = result

In [23]:
ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [28]:
##Q2
##Suppose your clients have changed their minds about the labels you created in your â€œbusiest_dayâ€ column. 
##Now, they want â€œBusiest dayâ€ to become â€œBusiest daysâ€ (plural). 
##This label should correspond with the two busiest days of the week as opposed to the single busiest day. 
##At the same time, theyâ€™d also like to know the two slowest days. 
##Create a new column for this using a suitable method.

In [25]:
result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0 or value ==1:
    result.append("Busiest day")
  elif value == 4 or value ==3:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [26]:
ords_prods_merge['busiest_days'] = result

In [27]:
ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12916111
Busiest day       11864412
Least busy         7624336
Name: count, dtype: int64

Q3) Both of the columns, busiest_days and busiest_day have the same total count of 32,404,859 rows meaning all rows have been allocated

In [31]:
## Finding the busiest hour of the day
ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [ ]:
Using loc 
ords_prods_merge.loc[ords_prods_merge['prices'] == 15, 'price_range_loc'] = 'High-range product'
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product' 
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [38]:
#Create a result_hour list to define the busiest hours

result_hour = []

for value in ords_prods_merge["order_hour_of_day"]:
  if value == 10 or value == 11 or value == 14 or value == 15 or value == 13 or value == 12 or value == 16 or value == 9:
    result_hour.append("Most orders")
  elif value == 17 or value == 8 or value == 18 or value == 19 or value == 20 or value == 7 or value == 21 or value == 22:
    result_hour.append("Average Orders")
  else:
    result_hour.append("Fewest Orders")

In [41]:
## Finding counts for busiest hours

ords_prods_merge['busiest_period_of_day'] = result_hour

In [42]:
## Print the result of the column
ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118071
Average Orders     9997651
Fewest Orders      1289137
Name: count, dtype: int64

In [43]:
# Export data to pkl

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_updated.pkl'))